package core

templ StatsCard(title string, value string) {
	<div class="p-4 bg-white border rounded-md ">
		<dl class="flex items-center justify-between space-x-2">
			<span class="text-md font-semibold">{ title }</span>
			<span class="text-xl font-semibold">{ value }</span>
		</dl>
	</div>
}
